{% extends 'base.html' %}
{% block content %}
<h1 class="about-header"> About Us </h1>

<p class='about-description'> MISSION STATEMENT: We want to empower and welcome newly arrrived refugees and immigrants by way of connecting them with people, places and resources that enable them to build successful lives and enrich our communities across the USA.  
</p>

<div class="about-images">
    <div class="about-developer">
        <p>Joseph Lister</p>
        <img width='256px' height='300px' src='https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/62528851_2520711271293674_7901023710327341056_o.jpg?_nc_cat=111&_nc_oc=AQlV_W-ywdqV3OOagtNLA6PUBV_mKYl9sRpAUDNwx1PcWWdERMhMIn6j7Fztyhexla8&_nc_ht=scontent-sjc3-1.xx&oh=0ac28bd23938595d3189cefd181dfc76&oe=5DDCC896'/>
        <p>Software Developer</p>
    </div>

    <div class="about-developer">
        <p>Jackson Herron</p>
        <img width='256px' height="300px" src='https://files.slack.com/files-pri/T0351JZQ0-FMA8Q0GQ0/jackson.jpeg'/>
        <p>Software Developer</p>
    </div>

    <div class="about-developer">

        <p>James Lyons</p>
        <img width='256px' height="300" src='https://files.slack.com/files-pri/T0351JZQ0-FMA8X4J0G/59450085_2225596747704231_6785894177008779264_o.jpg'/>  
        <p>Software Developer</p>
    </div>   
</div>

{% endblock %}