{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="{% static 'scripts/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <title>Friendly</title>
</head>
<body>
    <nav class='header-nav'>
        <a href='{% url "home" %}'>Friendly</a>
        <section>
            <ul class>
                <li class='header-li'><a href='{% url "profile" %}'>Profile</a></li>
                <li class='header-li'><a href='{% url "match_list" %}'>Matches</a></li>
                <li class='header-li'><a href='{% url "register" %}'>Signup</a></li>
                <li class='header-li'><a href='{% url "login" %}'>Login</a></li>
                <li class='header-li'><a href='{% url "logout" %}'>Logout</a></li>
            </ul>
        </section>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>