{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="{% static 'scripts/app.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <title>Friendly</title>
</head>
<body>
    <nav class='header-nav'>
        <a href=''>Friendly</a>
        <section>
            <ul class>
                <li class='header-li'><a href=''>Profile</a></li>
                <li class='header-li'><a href=''>Matches</a></li>
                <li class='header-li'><a href=''>Signup</a></li>
                <li class='header-li'><a href=''>Login</a></li>
                <li class='header-li'><a href=''>Logout</a></li>
                <li class='header-li'><a href=''>Profile</a></li>
            </ul>
        </section>
    </nav>
</body>
</html>