{% extends 'base.html' %}
{% block content %}

<section>
{% if profile is not None %}
    <div class='match-carousel-div'>
        <h1>Connect with: {{profile.user.first_name}} {{profile.user.last_name}}</h1>
        <img class='profile-image' src="{{profile.profile_image.url}}"/>
        <p class='profile-p'>Languages: {{ profile.languages|join:', '}}</p>
        <p class='profile-p'>Identities: {{profile.identities|join:', '}}</p>
        <p class='profile-p'>Gender Identity: {{profile.gender_identity}}</p>
        <p class='profile-p'>Interests: {{profile.interests|join:', '}}</p>
        <p class='profile-p'>Religion: {{profile.religions|join:', '}}</p>
        <p class='profile-p'>Personal Description: {{profile.personal_description}}</p>
        <p class='profile-p'>Zip Code: {{profile.zip_code}}</p>

        <button class="connect-btn" id="{{profile.id}}">Connect</button>
        <button class="pass-btn" value='refresh page' onClick="location.href=location.href">Not right now</button>
    </div>
{% else %}
    <h1>Sorry, no matches currently available. Please try again later.</h1>
{% endif %}
<section>
{% endblock %}