{% extends 'base.html' %}

{% block content %}

<h1>Connect with: {{profile.user.first_name}} {{profile.user.last_name}}</h1>
<img class='profile-image' src="{{profile.profile_image.url}}"/></br>
<p1>Languages: {{ profile.languages|join:', '}}</br><p1>
<p1>Ethnic & National Identities: {{profile.identities|join:', '}} </br></p1>
<p1>Gender Identity: {{profile.gender_identity}} </br></p1>
<p1>Interests: {{profile.interests|join:', '}} </br></p1>
<p1>Religion: {{profile.religions|join:', '}} </br></p1>
<p1>Personal Description: {{profile.personal_description}} </br></p1>
<p1>Zip Code: {{profile.zip_code}} </br></p1>

<button class="connect-btn" id="{{profile.id}}">Connect</button>
<button class="pass-btn">Not right now</button>


{% endblock %}