{% extends 'base.html' %}
{% block content %}

<section class='matches-section'>
{% if primary_matches is not None %}
{% for match in primary_matches %}

    <div class='matches'>
        <a class='match-a' href="{% url 'match_detail' pk=match.pk %}">
            <p>{{match.user_2}}</p>
            <p>You were matched on {{match.time_stamp}} </p>
        </a>
    </div>

{% endfor %}
{% endif %}

{% if secondary_matches is not None %}
{% for match in secondary_matches %}

    <div class='matches'>
        <a class='match-a' href="{% url 'match_detail' pk=match.pk %}">
            <p>{{match.user_1}}</p>
            <p>You were matched on {{match.time_stamp}} </p>
        </a>
    </div>

{% endfor %}
{% else %}

    <p>Sorry, You have no matches =(</p>

{% endif %}

</section>

{% endblock %}