{% extends 'base.html' %}
{% block content %}

<section>
    <div class='profile-form-div'>
        <h1>Welcome {{profile.user.first_name}}</h1>
        <h2>Your profile Information:</h2>
        <p class='profile-p'>Email: {{profile.user.email}}</p>
        <p class='profile-p'>Name: {{profile.user.first_name}} {{profile.user.last_name}}</p>
        <p class='profile-p'>Gender Identity: {{profile.gender_identity}}</p>
        <p class='profile-p'>Zip Code: {{profile.zip_code}}</p>
        <p class='profile-p'>Languages: {{ profile.languages|join:', '}}</p>
        <p class='profile-p'>Identities: {{profile.identities|join:', '}}</p>
        <p class='profile-p'>Interests: {{profile.interests|join:', '}}</p>
        <p class='profile-p'>Religion: {{profile.religions|join:', '}}</p>
        <p class='profile-p'>Personal Description: {{profile.personal_description}}</p>
        <button class='edit-button'><a href ='edit'>Edit Profile</a></button>
    </div>
        {% comment %} <p>Profile Image: <img class='profile-image' src="{{profile.profile_image.url}}"/></p> {% endcomment %}
</section>

{% endblock %}