{% extends 'base.html' %}
{% block content %}

    {% if error %}
    <p style='background-color: firebrick; display: inline-block'>{{error}}</p>
    {% endif %}

    <section class='form-section'>
        <form action='{% url "register" %}' method='POST' class='artist-form'>
            {% csrf_token %}
            <p class='accounts-p'>
                <label for='first_name'>First Name</label><br/>
                <input type='text' name='first_name' required maxlength="25" minlength="2"/>
            </p>
            <p class='accounts-p'>
                <label for='last_name'>Last Name</label><br/>
                <input type='text' name='last_name' required maxlength="25" minlength="2"/>
            </p>
            <p class='accounts-p'>
                <label for='email'>Email</label><br/>
                <input type='email' name='email' required maxlength="25" minlength="2"/>
            </p>
            <p class='accounts-p'>
                <label for='password'>Password</label><br/>
                <input type='password' name='password' required maxlength="25" minlength="4"/>
            </p>
            <p class='accounts-p'>
                <label for='password2'>Confirm Password</label><br/>
                <input type='password' name='password2' required maxlength="25" minlength="4"/>
            </p>
            <button class='account-button' type='submit'>Register</button>
        </form>
    </section>

{% endblock %}